/* wrapper */
.wrapper {
    padding: 2rem;
  }
  
  .products ul {
    display: inline-block;
  }
  
  .products ul .main-product {
    margin-bottom: 2rem;
    margin-right: 1rem;
    display: block;
    float: left;
    width: 24%;
  }
  
  .products ul .no-margin {
    margin-right: 0;
  }
  
  .products ul .img-product img {
    width: 100%;
  }
  
  .content-product .content-product-h3 {
    padding: .5rem 0;
    overflow: hidden;
    color: #222;
    font-weight: 500;
    font-size: 16px;
    max-height: 50px;
    min-height: 50px;
    text-align: center;
    line-height: 19px;
    margin: 0 0 5px;
  }
  
  .content-product .content-product-deltals {
    display: flex;
    justify-content: center;
    padding-top: 1rem;
  }
  
  .main-product .content-product .content-product-deltals .price {
    color: #c7b200;
    font-weight: 700;
    margin-right: 1rem;
    vertical-align: middle;
    font-size: 20px;
  }
  
  .content-product .content-product-deltals .price .money {
    vertical-align: middle;
  }
  
  .content-product .content-product-deltals .btn-cart {
    background: #f12b11;
    border-radius: 5px;
    color: #fff;
    font-weight: 500;
  }
  
  .content-product .content-product-deltals .btn-cart:hover {
    background: #c7b200;
  }
  
  /* footer */
  .footer-item {
    padding: .5rem 2rem;
    background: #350da3;
    display: flex;
  
  }
  
  .footer-item .img-footer {
    align-items: center;
    display: flex;
  }
  
  .footer-item .img-footer img {
    width: 100%;
  }
  
  .footer-item .social-footer {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: flex-end;
  }
  
  .footer-item .social-footer li a {
    color: #000000;
    font-size: 2rem;
  }
  
  .footer-item .social-footer li:last-child {
    margin-left: .5rem;
  }